<%= form_for(@leave) do |f| %>
  <% if @leave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this leave from being saved:</h2>

      <ul>
      <% @leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ltype %><br>
    <%= f.text_field :ltype %>
  </div>
  
   <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>

  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.date_select :to_date %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
